{{#if error_msg}}
  <div class="alert alert-danger">
    <div class="container-fluid">
      <div class="alert-icon">
        <i class="material-icons">error_outline</i>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="material-icons">clear</i></span></button>
      <b>Error Alert:</b> {{error_msg}}
    </div>
  </div>
{{/if}}

{{#if success_msg}}
  <div class="alert alert-success">
    <div class="container-fluid">
      <div class="alert-icon">
        <i class="material-icons">check</i>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="material-icons">clear</i></span></button>
      <b>Success Alert:</b> {{success_msg}}
    </div>
  </div>
{{/if}}

{{#if info_msg}}
  <div class="alert alert-info">
    <div class="container-fluid">
      <div class="alert-icon">
        <i class="material-icons">info_outline</i>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="material-icons">clear</i></span></button>
      <b>Info alert:</b>{{info_msg}}
    </div>
  </div>
{{/if}}

{{#each errors}}
  <div class="alert alert-danger">
    <div class="container-fluid">
      <div class="alert-icon">
        <i class="material-icons">error_outline</i>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="material-icons">clear</i></span></button>
      <b>Error Alert:</b> {{text}}
    </div>
  </div>
{{/each}}

{{#if error}}
  <div class="alert alert-danger">
    <div class="container-fluid">
      <div class="alert-icon">
        <i class="material-icons">error_outline</i>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="material-icons">clear</i></span></button>
      <b>Error Alert:</b> {{error}}
    </div>
  </div>
{{/if}}